name: Test with gotip

on:
  workflow_dispatch:

jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Install gotip
        run: |
          go install golang.org/dl/gotip@latest
          gotip download

      - name: Test
        run: gotip test -v
